.tab-item {
  list-style-type: none;
  padding: 15px;
}

.tab-btn {
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  width: max-content;
}

.active-btn {
  border-bottom: 1px solid red;
  color: red;
}
