.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.input-field {
  font-size: 14px;
  height: 30px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: blue;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.pwd-inp-con {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;

  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 0px;
}

.pwd-input-field {
  outline: none;
  border: none;
  background: transparent;
  height: 100%;
  width: 75%;
  padding-left: 16px;
  color: blue;
  font-size: 14px;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
.login-button:hover {
  background-color: green;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.eye-btn {
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.mhead {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
}
